* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border-top: 13px #f9e0bd solid;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

section {
  flex-grow: 2;
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
}

p {
  line-height: 1.6em;
}

.nav-title a {
  text-decoration: 0;
  color: #000;
}

/* Navbar */

header {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  align-items: center;
}

.burger ul {
  list-style-type: none;
  display: flex;
  gap: 25px;
}

.burger ul a {
  text-decoration: none;
  color: #000;
  font-family: poppins-regular, sans-serif;
  font-size: 14px;
}

.burger ul a:hover {
  text-decoration: 5px underline;
  text-decoration-color: #f9e0bd;
}

.nav-title {
  font-family: tomarik-extrovert, sans-serif;
  font-size: 56px;
}

.nav-title p {
  margin: 0;
}

.nav-icons {
  display: flex;
  flex: 1 1 20%;
  gap: 25px;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-icons a {
  color: #000;
}

#nav-button {
  display: none;
}

.burger {
  order: -1;
  display: flex;
  justify-content: flex-start;
}

/* body */

.pink-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 300px;
  background-color: #f0e0fb;
  margin: 50px auto;
  border-radius: 31px;
}

.container-img img {
  width: 500px;
}

.pink-title {
  font-family: tomarik-brush, sans-serif;
  font-size: 30px;
}

.pink-text {
  font-family: poppins-regular, sans-serif;
  font-size: 15px;
  padding-right: 30%;
}

.pink-button a {
  background-color: #62258a;
  width: 140px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-family: poppins-regular, sans-serif;
  font-weight: bold;
  font-size: 14px;
}

/* Carriers and toys*/

.carriers h2 {
  font-family: tomarik-brush, sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 100px 0 50px;
}
.carriers-cards {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  width: 90%;
}

.carriers-cards a {
  text-decoration: none;
  color: #000;
  flex: 1 0 250px;
}

.carriers-product img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.carriers-product {
  width: 100%;
}

.carriers-text {
  font-family: poppins-medium, sans-serif;
  font-size: 15px;
  margin-top: 25px;
}

.carriers-price {
  color: #62258a;
  font-family: tomarik-brush, sans-serif;
  font-size: 22px;
}

/* Footer */

footer {
  background-color: #fff1dc;
  border-top: 13px solid #f9e0bd;
  margin-top: 100px;
}

.footer-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 0;
  width: 80%;
  justify-content: center;
}

.location img,
.phone img {
  width: 20px;
}

.location {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}

.location p {
  margin: 0;
  font-family: poppins-regular, sans-serif;
  font-size: 15px;
}

.phone {
  display: flex;
  gap: 20px;
  align-items: center;
}

.phone a {
  font-family: poppins-regular, sans-serif;
  font-size: 15px;
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 1100px) {
  .pink-container {
    flex-direction: column;
    height: auto;
    padding: 20px 20px;
  }
  .pink-container img {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .burger {
    order: 0;
    justify-content: flex-end;
  }

  .burger ul {
    display: none;
  }

  #nav-button {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    position: relative;
  }

  #nav-button i {
    transition: all 0.3s;
  }

  #nav-button:focus {
    pointer-events: none;
    outline: none;
  }

  #nav-button:focus i:first-child {
    transform: scale(0, 0);
  }

  #nav-button:focus i ~ i {
    transform: scale(1, 1);
  }

  #nav-button i ~ i {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transform: scale(0, 0);
  }

  #nav-button:focus + ul {
    display: block;
  }

  #nav-button + ul:hover {
    display: block;
  }

  #nav-button + ul {
    position: absolute;
    top: 100px;
    background: #f9e0bd;
    left: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid black;
  }

  #nav-button + ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
}
