.product {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}

p {
  margin: 0;
}

p + p {
  margin-top: 1em;
}

.product img {
  width: 100%;
  max-width: 300px;
}

section {
  font-family: poppins, poppins-regular, sans-serif;
}

.product-title {
  font-family: tomarik-brush, sans-serif;
  font-weight: normal;
  font-size: 32px;
  margin: 0 0 20px;
  color: #62258a;
}

.price {
  font-family: poppins, poppins-medium, sans-serif;
}

.feature {
  color: #62258a;
  font-family: tomarik-brush, sans-serif;
  font-weight: normal;
}

.button {
  background-color: #62258a;
  padding: 10px 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-family: poppins, poppins-regular, sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.description {
  color: #999;
}

.selector select {
  width: 180px;
  padding: 10px 15px;
  font-size: 14px;
  display: block;
  border-radius: 10px;
  border: 1px solid #999;
  margin-bottom: 15px;
}

.text-boxes {
  max-width: 600px;
}

@media screen and (max-width: 1100px) {
  .product {
    width: 90%;
    flex-direction: column;
  }

  .product-img {
    margin: 0 auto;
  }

  .product-img img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 650px) {
  .selector {
    align-items: center;
  }
}
